


*{
    background-color: pink;
}

b{
    color: red;
}

a{
    color: white;
}

h1,h2{
    color: rgb(135, 8, 219);
}

#submit1{
    background-color: red;
    color: blue;

}
section label{
    color: rgb(255, 0, 0);
}

section > div {
    color: green;
}

input + button {
    color:magenta;
}

input[id="First"] {
    color: red;
}

a[href*="google"] {
    color: green;
}

body {
    background-color: rgb(192, 26, 26);
}


/*Pseduo Properties


button:active {
    background-color: rgb(100, 2, 2);
    color: ivory;
}


input:nth-of-type(3) {
    background-color: rgb(218, 218, 218);
}
p::first-letter {
    font-size: 50px;
}
p::selection{
    color: red;
}
p::first-line{
    background-color: rosybrown;
}

a:hover {
    text-decoration: overline dotted green;
    font-size: 50px;
}

form{
    color: red;
}


Inherti Color : for few elemets . 

body{
    background-color: rgb(7, 207, 207);
}

input,button,select,option{
    background-color: inherit;
}

